# Trashcan numbers


## 243

243

# Mailbox Numbers

## 756
756

# Book Titles

## Pride and <br> Prejudice


## The Wonderful <br> Wizard of Oz

## Treasure <br> Island

## The Odyssey